* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 60px;
    color: white;
}

/* Banner Section */
.banner {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)), url("../images/donate-today-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    color: white;
    width: 50vw;
    text-align: center;
}

#banner-paragraph {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 15px;
}

.link-button {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #FF5959;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 2px;
}