/* Common Style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(117, 78, 78);
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    width: 100vw;
}

h1 {
    color: rgb(241, 237, 237);
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

.link-button {
    background-color: #FF5959;
    border-radius: 5px;
    color: rgb(241, 237, 237);
    font-weight: bold;
    letter-spacing: 2px;
    margin: auto;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    width: 150px;
}

.link-button:hover {
    background-color: #b11914;
    color: rgb(246, 245, 248);

}

.margin-gap {
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 10px;
}

/* Banner Section */
.banner {
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(92, 77, 77, 0)), url("../images/donate-today-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.banner-text {
    color: white;
    text-align: center;
    width: 50vw;
}


/* Donate Section */
.donate {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    width: 100vw;
}

.donate-text {
    text-align: center;
    width: 50%;
}

.donate-amount {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.donate-amount button {
    background-color: rgb(248, 242, 242);
    border-radius: 5px;
    border: 2px solid rgb(248, 242, 242);
    color: rgb(58, 47, 47);
    font-size: 30px;
    height: 100px;
    margin: 10px;
    width: 120px;
}

.donate-amount button:hover,
.donate-amount button:focus {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    color: #FF5959;
}

.donate-other {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    width: 45vw;
}

.donate-other input {
    border-bottom: 1px solid gray;
    border: none;
    font-size: 20px;
    margin-bottom: 5%;
    text-align: center;
}


/* Our Plan Section */
.our-plan {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    width: 100vw;
}

.our-plan-text {
    margin: auto;
    text-align: center;
    width: 40vw;
}

.our-plan-text p {
    margin: 7% 0;
}

.our-plan-cards {
    display: flex;
    justify-content: center;
}

.our-plan-card {
    height: 220px;
    margin: 0 15px 30px;
    padding: 2%;
    width: 250px;
}

.our-plan-card h3 {
    margin: 15px 0;
}

#card1 {
    background-color: #EDF5F6;
}

#card2 {
    background-color: #FFEEEE;
}

#card3 {
    background-color: #FFF4D6;
}


/* Acknowledgement Section */
.acknowledgement {
    background-color: rgb(240, 250, 250);
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    margin-top: 3%;
    width: 100vw;
}

.acknowledgement-text {
    text-align: center;

}

.acknowledgement-text p {
    margin: 2% auto;
    width: 50vw;
}

.acknowledgement-cards {
    column-gap: 40px;
    display: flex;
    justify-content: space-around;
}

.acknowledgement-card {
    background-color: rgb(220, 240, 233);
    border-radius: 10px;
    box-shadow: 10px 10px 100px rgb(214, 114, 96);
    padding: 1%;
    text-align: center;
    width: 20vw;
}

.acknowledgement-card img {
    border-radius: 50%;
    border: 5px solid rgb(226, 177, 169);
    height: 100px;
    width: 100px;
}

.acknowledgement-card p {
    margin: 2%;
}

.acknowledgement-speech {
    background-color: white;
    border-radius: 10px;
    padding: 10%;
    text-align: left;
}

/* our Updates Section */
.our-updates {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    row-gap: 5%;
    width: 100vw;
}

.our-updates-text {
    text-align: center;
    width: 50vw;
}

.our-updates-text p {
    margin: 5%;
}

.our-updates-form {
    background-color: #FFF4D6;
    background-color: gray;
    border-radius: 5px;
    padding: 6% 20%;
}

form {
    column-gap: 0;
    display: flex;
}

form input {
    background-color: #D9D9D9;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px 40px 10px 15px;
}

form button {
    background-color: #FF5959;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    color: rgb(241, 237, 237);
    font-size: 15px;
    padding: 10px 30px;
}


/* Footer Section */
footer {
    align-items: center;
    background-color: rgb(34, 31, 31);
    color: rgb(241, 237, 237);
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: center;
    width: 100vw;
}

.social-media {
    margin: 2%;
}

.social-media img {
    opacity: 0.7;
    width: 30px;
}

.social-media img:hover {
    opacity: 1;
}